<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbConfigSection" type="Sharing.Core.Configuration.DberverConfigurationSection,Sharing.core"/>
  </configSections>
  <dbConfigSection >
    <master server="www.yourc.club" dbtype="MySql" isWriteOnly="true" userid="sharing" password="Window2008"></master>    
    <slaves>
      <clear />
      <add server="www.yourc.club" dbtype="MySql" isWriteOnly="false" userid="sharing" password="Window2008" />
    </slaves>   
  </dbConfigSection>
</configuration>